@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=ABeeZee&display=swap");
:root {
  font: 16px / 1 sans-serif;
  --color1: #ffdb80;
  --color2: #131010;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color1);
  margin-top: 1rem;
  font-family: "Pacifico", cursive;
}

.search-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.search-button,
.recipe-input {
  margin-right: 0.5rem;
  border: solid var(--color2) 1px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "ABeeZee", sans-serif;
}

.meal-category-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  text-align: center;
  line-height: 1.25;
}

.category-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.category {
  /* border: solid var(--border-color2) 2px; */
  text-align: center;
  width: 8rem;
  height: 8rem;
  margin: 0.5rem;
  font-size: 1rem;
}

img {
  height: 5rem;
}

a {
  text-decoration: none;
  color: var(--color2);
}

.recipe-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how-to-make {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
}

.instructions,
.ingredients {
  line-height: 1.5;
}

li {
  list-style: none;
}
